@{
    ViewBag.Title = "ImportBomRecord";
}

<div class="container" style="text-align:center">
    <h1 style="color:green;">Import Log</h1>
    <br />
</div>

<div class="alert alert-success" role="alert">
    <h4>FileError: <span class="label label-primary">@ViewBag.NotCsv</span></h4>
    <hr />
    <h4>CheckData: <span class="label label-primary">@ViewBag.NotCheckedData</span></h4>
</div>

<hr />

@try
{
    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>All Quantity</td>
                    <td style="background:green;">CreateSuccessQty</td>
                    <td style="background:darkred;">CreateFailureQty</td>
                    <td style="background:green;">UpdateSuccessQty</td>
                    <td style="background:darkred;">UpdateFailureQty</td>
                    <td style="background:green;">DeleteSuccessQty</td>
                    <td style="background:darkred;">DeleteFailureQty</td>
                    <td style="background:orange;">ActionNullQty</td>
                    <td style="background:gray;">OtherQty</td>
                </tr>
            </thead>

            <tbody>
                <tr>
                    @foreach (var qty in ViewData["Qty"] as Dictionary<string, int>)
                    {
                        <td>
                            @qty.Value
                        </td>
                    }
                </tr>
            </tbody>
        </table>
    </div>
}
catch (Exception)
{
    <h4 style="color:brown;">Qty Error.</h4>
}

@try
{
    <table class="table table-bordered">
        <thead>
            <tr style="background:white; color:red;">
                <td colspan="6" style="text-align:left;">
                    <span class="label label-danger" style="font-size:1.2em;">Create Msg: Maybe ID Already Exist.</span>
                </td>
            </tr>
            <tr>
                <td>ID</td>
                <td>PartNr</td>
                <td>ValidFrom</td>
                <td>ValidTo</td>
                <td>VersionId</td>
                <td>BomDesc</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var createErrors in ViewData["createErrorDic"] as List<Dictionary<string, string>>)
            {
                <tr>
                    @foreach (var createError in @createErrors as Dictionary<string, string>)
                    {
                        <td>
                            @createError.Value
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
catch (Exception)
{
    <h4 style="color:brown;">@ViewBag.CreateExpMsg</h4>
}

@try
{
    <table class="table table-bordered">
        <thead>
            <tr style="background:white; color:red;">
                <td colspan="6" style="text-align:left;">
                    <span class="label label-danger" style="font-size:1.2em;">Update Msg: Maybe ID Doesn't Exist.</span>
                </td>
            </tr>
            <tr>
                <td>ID</td>
                <td>PartNr</td>
                <td>ValidFrom</td>
                <td>ValidTo</td>
                <td>VersionId</td>
                <td>BomDesc</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var updateErrors in ViewData["updateErrorDic"] as List<Dictionary<string, string>>)
            {
                <tr>
                    @foreach (var updateError in @updateErrors as Dictionary<string, string>)
                    {
                        <td>
                            @updateError.Value
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
catch (Exception)
{
    <h4 style="color:brown;">@ViewBag.UpdateExpMsg</h4>
}


@Scripts.Render("~/bundles/bom")


