
@model CuttingMrpLib.ProcessOrder

@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <ol class="breadcrumb" style="padding:20px 15px;font-size:1.5em;">
        <li>
            @Html.ActionLink("ProcessOrders", "Index")
        </li>
        <li>
            Edit
            <label class="label label-primary">
                @Html.DisplayFor(model => model.partNr)
            </label>
        </li>
    </ol>
    <hr />

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.orderNr)

        <div class="panel panel-default">
            <div class="panel-heading col-md-12" style="height:55px;">
                <div class="col-md-10" style="font-size:2em;">
                    <label>
                        @Html.DisplayFor(model => model.partNr, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.HiddenFor(model => model.partNr)
                    </label>
                </div>
                <div class="col-md-2">
                    <input type="submit" value="Save" class="btn btn-primary" style="width:150px;" />
                </div>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.partNr, "PartNr", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6" style="margin-top:7px;">
                                @Html.DisplayFor(model => model.partNr, new { @class = "form-control"})
                                @Html.HiddenFor(model => model.partNr)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.status, "Status", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.DropDownList("Status", ViewData["statusList"] as IEnumerable<SelectListItem>,new { @class = "form-control" })

                                @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.actualQuantity, "ActualQuantity", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.actualQuantity, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.actualQuantity, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@Scripts.Render("~/bundles/process-orders")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
