@using MvcPaging;

@model IPagedList<CuttingMrpLib.ProcessOrder>
@{
    ViewBag.Title = "ProcessOrders";
}

@Styles.Render("~/Content/process-order")

<form action="/ProcessOrders/Search" method="get">
    <div class="panel panel-default navbar-fixed-top" style="box-shadow: -2px 2px 4px #34313a;top:60px;">
        <div class="panel-body">
            <div class="col-sm-12" style="text-align:center;">
                <div class="col-sm-10 filter-content">
                    <span class="pull-right" id="basic-addon-filter"> <i class="glyphicon glyphicon-filter"></i> </span>
                    <div class="filter-p"></div>
                </div>

                <div class="col-sm-2" style="text-align:left;">
                    <button class="btn btn-primary" type="submit">Search All</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="panel panel-primary" style="margin-top:100px;margin-bottom:10px;">
    <div class="panel-body">
        <div class="col-md-12" style="text-align:center;">
            <div class="col-md-2" style="border-right:1px solid steelblue;padding:8px;">
                <h3>统计</h3>
            </div>
            <div class="col-md-5" style="border-right:1px solid steelblue;padding:0;">
                <label>最早 </label>
                <label>2016-05-29 00:00:00</label>
                <hr style="margin:10px;" />
                <label>最晚 </label>
                <label>2016-05-30 00:00:00</label>
            </div>
            <div class="col-md-5">
                <label>共200个订单</label>
                <hr style="margin:10px;" />
                <label>来自100个需求</label>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12" style="padding:0;">
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>#</td>
                <th> No. </th>
                <th>OrderNr</th>
                <th>SourceDoc</th>
                <th>DerivedFrom</th>
                <th>ProceeDate</th>
                <th>PartNr</th>
                <th>SourceQuantity</th>
                <th>ActualQuantity</th>
                <th>CompleteRate</th>
                <th>Status</th>
                <th>BatchQuantity</th>
                <th>Requirements</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                int i = 0;
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @if (item.canFinish)
                            {
                                <input type="checkbox" class="orderNrCheck" id="orderNrCheck" name="orderNr" value="@item.orderNr" />
                                @*@Html.CheckBox("orderNr",  new { value = item.orderNr})*@
                            }
                            else
                            {
                                <input type="checkbox" id="orderNr" name="orderNr" disabled value="@item.orderNr" />
                                @*@Html.CheckBox("orderNr", new { value = item.orderNr,@disabled=true })*@
                            }
                        </td>
                        <td>@(i += 1)</td>
                        <td>@Html.DisplayFor(modelItem => item.orderNr)</td>
                        <td>@Html.DisplayFor(modelItem => item.sourceDoc)</td>
                        <td>@Html.DisplayFor(modelItem => item.derivedFrom)</td>
                        <td>@Html.DisplayFor(modelItem => item.proceeDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.partNr)</td>
                        <td>@Html.DisplayFor(modelItem => item.sourceQuantity)</td>
                        <td>@Html.DisplayFor(modelItem => item.actualQuantity)</td>
                        <td>@Html.DisplayFor(modelItem => item.completeRate)</td>
                        <td>@Html.DisplayFor(modelItem => item.statusDisplay)</td>
                        <td>@Html.DisplayFor(modelItem => item.batchQuantity)</td>
                        <td>
                           <a href="@Url.Action("Search", "Requirements" , new { orderNr=item.orderNr }) ">
                                @(item.requirementCount.ToString() + " Requirements")
                              </a>
                        </td>
                        <td class="IconA">
                            <a href="@Url.Action("Edit", "ProcessOrders" , new { id=item.orderNr }) "> <i class="glyphicon glyphicon-pencil"></i></a>
                            @*@Html.ActionLink("Edit", "Edit", new { id = item.orderNr }) |*@
                            @if (item.canDelete)
                            {
                                <a href="@Url.Action("Delete", "ProcessOrders" , new { id=item.orderNr }) "> <i class="glyphicon glyphicon-trash" style="color:red;"></i></a>
                                @*@Html.ActionLink("Delete", "Delete", new { id = item.orderNr })*@
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<div>
    <form action="/ProcessOrders/Finish" method="post" id="finishForm">
        <input type="hidden" id="finishOrderIds" name="finishOrderIds" />
        <input type="button" value="Finish" onclick="finishOrders()" />
    </form>
</div>

<div>
    <form action="/ProcessOrders/Cancel" method="post" id="cancelForm">
        <input type="hidden" id="cancelOrderIds" name="cancelOrderIds" />
        <input type="button" value="Cancel" onclick="cancelOrders()" />
    </form>
</div>


<div class="col-sm-12" style="text-align:center;">
    <div class="clearfix pagination">
        <div class="pagination-inner">
            @if (Model != null)
            {
                if (ViewBag.Query != null)
                {
                    var html = Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
                        .Options(o => o.AddRouteValue("OrderNr", ViewBag.Query.OrderNr))
                        .Options(o => o.AddRouteValue("SourceDoc", ViewBag.Query.SourceDoc))
                        .Options(o => o.AddRouteValue("DerivedFrom", ViewBag.Query.DerivedFrom))
                        .Options(o => o.AddRouteValue("ProceeDateFrom", ViewBag.Query.ProceeDateFrom))
                        .Options(o => o.AddRouteValue("ProceeDateTo", ViewBag.Query.ProceeDateTo))
                        .Options(o => o.AddRouteValue("PartNr", ViewBag.Query.PartNr))
                        .Options(o => o.AddRouteValue("ActualQuantityFrom", ViewBag.Query.ActualQuantityFrom))
                        .Options(o => o.AddRouteValue("ActualQuantityTo", ViewBag.Query.ActualQuantityTo))
                        .Options(o => o.AddRouteValue("CompleteRateFrom", ViewBag.Query.CompleteRateFrom))
                        .Options(o => o.AddRouteValue("CompleteRateTo", ViewBag.Query.CompleteRateTo))
                        .Options(o => o.AddRouteValue("Status", ViewBag.Query.Status))
                        .Options(o=>o.AddRouteValue("MrpRound",ViewBag.Query.MrpRound));
                    @html
                }
                else
                {
                    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
                }
            }
        </div>
    </div>
</div>

<div style="display:none;">
    <div id="extra-filter-content">
        <div class="col-sm-12">
            <div class="input-group filter-detail">
                <span class="input-group-addon" id="basic-addon-ordernr" style="background:#0088cc;color:white;">OrderNr</span>
                <input type="text" class="form-control" name="OrderNr" id="OrderNr" value="@ViewBag.Query.OrderNr" placeholder="OrderNr" aria-describedby="basic-addon-ordernr">
                <span class="input-group-addon">MrpRound</span>
                @Html.DropDownList("MrpRound", ViewData["mrpRoundSelect"] as IEnumerable<SelectListItem>, new { @class = "form-control" })


              </div>
        </div>

        <hr style="border:1px solid #eeeeee; margin:10px -20px;" />

        <div class="col-sm-12">
            <div class="input-group filter-detail">
                <span class="input-group-addon" id="basic-addon-sourcedoc-date">SourceDoc</span>
                <input type="text" class="form-control" autocomplete="off" name="SourceDoc" id="SourceDoc" value="@ViewBag.Query.SourceDoc" placeholder="SourceDoc" aria-describedby="basic-addon-sourcedoc-date">
                <span class="input-group-addon">DerivedFrom</span>
                <input type="text" class="form-control" autocomplete="off" name="DerivedFrom" id="DerivedFrom" value="@ViewBag.Query.DerivedFrom" placeholder="DerivedFrom" />
            </div>
        </div>
        <hr style="margin:10px;" />

        <div class="col-sm-12">
            <div class="input-group filter-detail">
                <span class="input-group-addon" id="basic-addon-partnr-date">PartNr</span>
                <input type="text" class="form-control" autocomplete="off" name="PartNr" id="PartNr" value="@ViewBag.Query.PartNr" placeholder="SourceDoc" aria-describedby="basic-addon-partnr-date">
                <span class="input-group-addon">Status</span>
                @Html.DropDownList("Status", ViewData["statusList"] as IEnumerable<SelectListItem>, new { @class = "form-control" })
            </div>
        </div>
        <hr style="margin:10px;" />

        <div class="col-sm-12">
            <div class="input-group filter-detail">
                <span class="input-group-addon" id="basic-addon-procee-date">ProceeDate</span>
                <input type="text" style="width:188px;" class="form-control datetime-picker" autocomplete="off" name="ProceeDateFrom" id="ProceeDateFrom" value="@ViewBag.Query.ProceeDateFrom" placeholder="ProceeDate From" aria-describedby="basic-addon-procee-date">
                <span class="space-mark">~</span>
                <input type="text" style="width:170px;" class="form-control datetime-picker" autocomplete="off" name="ProceeDateTo" id="ProceeDateTo" value="@ViewBag.Query.ProceeDateTo" placeholder="ProceeDate To" />
            </div>
        </div>
        <hr style="margin:10px;" />

        <div class="col-sm-12">
            <div class="input-group filter-detail">
                <span class="input-group-addon" id="basic-addon-actual-quantity">ActualQuantity</span>
                <input type="text" style="width:165px;" class="form-control" autocomplete="off" name="ActualQuantityFrom" id="ActualQuantityFrom" value="@ViewBag.Query.ActualQuantityFrom" placeholder="ActualQuantity From" aria-describedby="basic-addon-actual-quantity">
                <span class="space-mark">~</span>
                <input type="text" style="width:170px;" class="form-control" autocomplete="off" name="ActualQuantityTo" id="ActualQuantityTo" value="@ViewBag.Query.ActualQuantityTo" placeholder="ActualQuantity To" />
            </div>
        </div>
        <hr style="margin:10px;" />

        <div class="col-sm-12">
            <div class="input-group filter-detail">
                <span class="input-group-addon" id="basic-addon-complete-rate">CompleteRate</span>
                <input type="text" class="form-control" autocomplete="off" name="CompleteRateFrom" id="CompleteRateFrom" value="@ViewBag.Query.CompleteRateFrom" placeholder="CompleteRate From" aria-describedby="basic-addon-complete-rate">
                <span class="space-mark">~</span>
                <input type="text" class="form-control" autocomplete="off" name="CompleteRateTo" id="CompleteRateTo" value="@ViewBag.Query.CompleteRateTo" placeholder="CompleteRate To" />
            </div>
        </div>
        <div class="popModal_footer">
            <input type="submit" value="Search" class="btn btn-success FilterSearchBtn" data-dialogModalBut="ok" />
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/process-orders")

<script type="text/javascript">
    ProcessOrders.init();
    ProcessOrders.click_filter();
</script>