@using MvcPaging;

@model IPagedList<CuttingMrpLib.ProcessOrder>
@{
    ViewBag.Title = "ProcessOrders";
}

@Styles.Render("~/Content/process-order")

<div class="panel panel-default navbar-fixed-top" style="box-shadow: -2px 2px 4px #34313a;top:60px;">
    <div class="panel-body">
        <div class="col-md-12" style="text-align:center;">
            <form action="/ProcessOrders/Search" method="get">
                <div class="col-md-7 filter-content">
                    <span class="pull-right" id="basic-addon-filter"> <i class="glyphicon glyphicon-filter"></i> </span>
                    <div class="filter-p"></div>
                </div>
                <div class="col-md-2" style="border-right:1px solid #eeeeee;">
                    <button class="btn btn-primary" type="submit" style="width:100px;">Search All</button>
                    <hr style="margin:5px;" />
                    <button class="btn btn-primary import-force-record" title="Import Force Record" data-toggle="tooltip" data-placement="bottom" type="button" style="width:100px;">Import</button>
                </div>
            </form>
            <div class="col-md-3">
                <div class="col-md-7" style="border-right:1px solid #eeeeee;">

                    @Html.ActionLink("Export KB", "ExportKB", new
               {
                   OrderNr = ViewBag.Query.OrderNr,
                   SourceDoc = ViewBag.Query.SourceDoc,
                   DerivedFrom = ViewBag.Query.DerivedFrom,
                   ProceeDateFrom = ViewBag.Query.ProceeDateFrom,
                   ProceeDateTo = ViewBag.Query.ProceeDateTo,
                   PartNr = ViewBag.Query.PartNr,
                   ActualQuantityFrom = ViewBag.Query.ActualQuantityFrom,
                   ActualQuantityTo = ViewBag.Query.ActualQuantityTo,
                   CompleteRateFrom = ViewBag.Query.CompleteRateFrom,
                   CompleteRateTo = ViewBag.Query.CompleteRateTo,
                   Status = ViewBag.Query.Status,
                   MrpRound = ViewBag.Query.MrpRound,
                   KanbanNr = ViewBag.Query.KanbanNr,
                   PartType = ViewBag.Query.PartType
               }, new { @style = "width:100px;", @class = "btn btn-success export-kanbans", @title = "export searched results" })
                    <hr style="margin:5px;" />
                    @Html.ActionLink("Export Full", "Export", new
               {
                   OrderNr = ViewBag.Query.OrderNr,
                   Kanbans = ViewBag.Query.SourceDoc,
                   DerivedFrom = ViewBag.Query.DerivedFrom,
                   ProceeDateFrom = ViewBag.Query.ProceeDateFrom,
                   ProceeDateTo = ViewBag.Query.ProceeDateTo,
                   PartNr = ViewBag.Query.PartNr,
                   ActualQuantityFrom = ViewBag.Query.ActualQuantityFrom,
                   ActualQuantityTo = ViewBag.Query.ActualQuantityTo,
                   CompleteRateFrom = ViewBag.Query.CompleteRateFrom,
                   CompleteRateTo = ViewBag.Query.CompleteRateTo,
                   Status = ViewBag.Query.Status,
                   MrpRound = ViewBag.Query.MrpRound
               }, new { @style = "width:100px;", @class = "btn btn-success", @title = "Export All Results", data_toggle = "tooltip", data_placement = "bottom", role = "button" })
                </div>
                <div class="col-md-5">
                    <form action="/ProcessOrders/Finish" method="post" id="finishForm">
                        <input type="hidden" id="finishOrderIds" name="finishOrderIds" />
                        <button class="btn btn-primary finish-process-order" type="button" style="width:80px;">Finish</button>
                    </form>
                    <hr style="margin:5px;" />
                    <form action="/ProcessOrders/Cancel" method="post" id="cancelForm">
                        <input type="hidden" id="cancelOrderIds" name="cancelOrderIds" />
                        <button class="btn btn-warning cancel-process-order" type="button" style="width:80px;">Cancel</button>
                    </form>
                </div>


            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary" style="margin-top:140px;margin-bottom:10px;min-width:700px;">
    <div class="panel-body">
        <div class="col-md-12" style="text-align:center;">
            <div class="col-md-2" style="border-right:1px solid steelblue;padding:8px;">
                <h3>Statistics</h3>
            </div>
            <div class="col-md-5" style="border-right:1px solid steelblue;padding:0;">
                <label>Latest: </label>
                <label>@ViewBag.Info.latestOrderDate</label>
                <hr style="margin:10px;" />
                <label>Oldest: </label>
                <label>@ViewBag.Info.oldestOrderDate</label>
            </div>
            <div class="col-md-5">
                <label>Total: @ViewBag.Info.processOrderCount  Orders</label>
                <hr style="margin:10px;" />
                <label>From: @ViewBag.Info.requirementCount Requirements</label>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12" style="padding:0;">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th> # </th>
                <th> No. </th>
                <th>OrderNr</th>
                <th>PartNr</th>
                <th>Kanbans</th>
                <th>PartType(KB Type)</th>
                <th>Status</th>
                <th>ProceeDate</th>
                <th>SourceQuantity</th>
                <th>ActualQuantity</th>
                <th>BatchQuantity</th>
                <th>CompleteRate</th>
                <th>DerivedFrom</th>
                <th>Requirements</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                int i = 0;
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @if (item.canFinish)
                            {
                                <input type="checkbox" class="orderNrCheck" id="orderNrCheck" name="orderNr" value="@item.orderNr" />
                            }
                            else
                            {
                                <input type="checkbox" id="orderNr" name="orderNr" disabled value="@item.orderNr" />
                            }
                        </td>

                        <td>@(i += 1)</td>
                        <td>@Html.DisplayFor(modelItem => item.orderNr)</td>
                        <td class="partNrMsg" title="Part" data-toggle="popover" data-placement="right" data-trigger="focus" data-html="true" data-content="">@Html.DisplayFor(modelItem => item.partNr)</td>

                        <td>@Html.DisplayFor(modelItem => item.Part.kanbanNrs)</td>
                        <td>@Html.DisplayFor(modelItem => item.Part.partTypeDisplay)</td>
                        <td>@Html.DisplayFor(modelItem => item.statusDisplay)</td>
                        <td style="white-space:nowrap;">@Html.DisplayFor(modelItem => item.proceeDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.sourceQuantity)</td>
                        <td>@Html.DisplayFor(modelItem => item.actualQuantity)</td>
                        <td>@Html.DisplayFor(modelItem => item.batchQuantity)</td>
                        <td>@Html.DisplayFor(modelItem => item.completeRateDisplay)</td>

                        <td>@Html.DisplayFor(modelItem => item.derivedFrom)</td>

                        <td>
                            <a href="@Url.Action("Search", "Requirements" , new { orderNr=item.orderNr })" style="white-space:nowrap;">
                                @(item.requirementCount.ToString() + " Requirements")
                            </a>
                        </td>
                        <td class="IconA">
                            <a href="@Url.Action("Edit", "ProcessOrders" , new { id=item.orderNr }) "> <i class="glyphicon glyphicon-pencil"></i></a>
                            @if (item.canDelete)
                            {
                                <a href="@Url.Action("Delete", "ProcessOrders" , new { id=item.orderNr }) "> <i class="glyphicon glyphicon-trash" style="color:red;"></i></a>
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<div class="col-sm-12" style="text-align:center;">
    <div class="clearfix pagination">
        <div class="pagination-inner">
            @if (Model != null)
            {
                if (ViewBag.Query != null)
                {
                    var html = Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
                        .Options(o => o.AddRouteValue("OrderNr", ViewBag.Query.OrderNr))
                        .Options(o => o.AddRouteValue("SourceDoc", ViewBag.Query.SourceDoc))
                        .Options(o => o.AddRouteValue("DerivedFrom", ViewBag.Query.DerivedFrom))
                        .Options(o => o.AddRouteValue("ProceeDateFrom", ViewBag.Query.ProceeDateFrom))
                        .Options(o => o.AddRouteValue("ProceeDateTo", ViewBag.Query.ProceeDateTo))
                        .Options(o => o.AddRouteValue("PartNr", ViewBag.Query.PartNr))
                        .Options(o => o.AddRouteValue("ActualQuantityFrom", ViewBag.Query.ActualQuantityFrom))
                        .Options(o => o.AddRouteValue("ActualQuantityTo", ViewBag.Query.ActualQuantityTo))
                        .Options(o => o.AddRouteValue("CompleteRateFrom", ViewBag.Query.CompleteRateFrom))
                        .Options(o => o.AddRouteValue("CompleteRateTo", ViewBag.Query.CompleteRateTo))
                        .Options(o => o.AddRouteValue("Status", ViewBag.Query.Status))
                        .Options(o => o.AddRouteValue("MrpRound", ViewBag.Query.MrpRound))
                        .Options(o => o.AddRouteValue("KanbanNr", ViewBag.Query.KanbanNr))
                        .Options(o => o.AddRouteValue("PartType", ViewBag.Query.PartType));
                    @html
                }
                else
                {
                    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
                }
            }
        </div>
    </div>
</div>

<div style="display:none;">
    <div id="extra-filter-content">
        <div class="col-sm-12">
            <div class="input-group filter-detail">
                <span class="input-group-addon" id="basic-addon-ordernr" style="background:#0088cc;color:white;">OrderNr</span>
                <input type="text" class="form-control" name="OrderNr" id="OrderNr" value="@ViewBag.Query.OrderNr" placeholder="OrderNr" aria-describedby="basic-addon-ordernr">
            </div>
        </div>

        <hr style="border:1px solid #eeeeee; margin:10px -20px;" />

        <div class="col-sm-12">
            <div class="input-group filter-detail">
                <span class="input-group-addon" id="basic-addon-sourcedoc-date">Kanban</span>
                <input type="text" class="form-control" autocomplete="off" name="KanbanNr" id="KanbanNr" value="@ViewBag.Query.KanbanNr" placeholder="Kanban" aria-describedby="basic-addon-sourcedoc-date">
                <span class="input-group-addon">KanbansType</span>
                @Html.DropDownList("PartType", ViewData["partTypeList"] as IEnumerable<SelectListItem>, new { @class = "form-control", @style = "width: 170px", @name = "PartType", @id = "PartType" })
            </div>
        </div>
        <hr style="margin:10px;" />

        <div class="col-sm-12">
            <div class="input-group filter-detail">
                <span class="input-group-addon">DerivedFrom</span>
                <input type="text" style="width: 155px;" class="form-control" autocomplete="off" name="DerivedFrom" id="DerivedFrom" value="@ViewBag.Query.DerivedFrom" placeholder="DerivedFrom" />

                <span class="input-group-addon">MrpRound</span>
                @Html.DropDownList("MrpRound", ViewData["mrpRoundSelect"] as IEnumerable<SelectListItem>, new { @class = "form-control", @style = "width: 170px" })
            </div>
        </div>
        <hr style="margin:10px;" />

        <div class="col-sm-12">
            <div class="input-group filter-detail">
                <span class="input-group-addon" id="basic-addon-partnr-date">PartNr</span>
                <input type="text" class="form-control" autocomplete="off" name="PartNr" id="PartNr" value="@ViewBag.Query.PartNr" placeholder="PartNr" aria-describedby="basic-addon-partnr-date">
                <span class="input-group-addon">Status</span>
                @Html.DropDownList("Status", ViewData["statusList"] as IEnumerable<SelectListItem>, new { @class = "form-control", @style = "width:175px;" })
            </div>
        </div>
        <hr style="margin:10px;" />

        <div class="col-sm-12">
            <div class="input-group filter-detail">
                <span class="input-group-addon" id="basic-addon-procee-date">ProceeDate</span>
                <input type="text" style="width:188px;" class="form-control datetime-picker" autocomplete="off" name="ProceeDateFrom" id="ProceeDateFrom" value="@ViewBag.Query.ProceeDateFrom" placeholder="ProceeDate From" aria-describedby="basic-addon-procee-date">
                <span class="space-mark">~</span>
                <input type="text" style="width:170px;" class="form-control datetime-picker" autocomplete="off" name="ProceeDateTo" id="ProceeDateTo" value="@ViewBag.Query.ProceeDateTo" placeholder="ProceeDate To" />
            </div>
        </div>
        <hr style="margin:10px;" />

        <div class="col-sm-12">
            <div class="input-group filter-detail">
                <span class="input-group-addon" id="basic-addon-actual-quantity">ActualQuantity</span>
                <input type="text" style="width:165px;" class="form-control" autocomplete="off" name="ActualQuantityFrom" id="ActualQuantityFrom" value="@ViewBag.Query.ActualQuantityFrom" placeholder="ActualQuantity From" aria-describedby="basic-addon-actual-quantity">
                <span class="space-mark">~</span>
                <input type="text" style="width:170px;" class="form-control" autocomplete="off" name="ActualQuantityTo" id="ActualQuantityTo" value="@ViewBag.Query.ActualQuantityTo" placeholder="ActualQuantity To" />
            </div>
        </div>
        <hr style="margin:10px;" />

        <div class="col-sm-12">
            <div class="input-group filter-detail">
                <span class="input-group-addon" id="basic-addon-complete-rate">CompleteRate</span>
                <input type="text" class="form-control" autocomplete="off" name="CompleteRateFrom" id="CompleteRateFrom" value="@ViewBag.Query.CompleteRateFrom" placeholder="CompleteRate From" aria-describedby="basic-addon-complete-rate">
                <span class="space-mark">~</span>
                <input type="text" class="form-control" autocomplete="off" name="CompleteRateTo" id="CompleteRateTo" value="@ViewBag.Query.CompleteRateTo" placeholder="CompleteRate To" />
            </div>
        </div>
        <div class="popModal_footer">
            <input type="submit" value="Search" class="btn btn-success FilterSearchBtn" data-dialogModalBut="ok" />
        </div>
    </div>
</div>


<div id="dialog_content" class="import_content" style="display:none;">
    @using (Html.BeginForm("ImportForceRecord", "ProcessOrders", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="dialogModal_header" style="background:steelblue;color:white;">
            Import Force Record
        </div>
        <div class="dialogModal_content">
            <strong>Select Force File:</strong>
            <hr />
            <input type="file" value="file" />
        </div>
        <div class="dialogModal_footer">
            <button type="submit" class="btn btn-primary" style="width:200px;" data-dialogModalBut="ok">OK</button>
        </div>
    }
</div>

@Scripts.Render("~/bundles/process-orders")

<script type="text/javascript">
    ProcessOrders.init();
    ProcessOrders.click_filter();
    ProcessOrders.finish_porcess_order();
    ProcessOrders.cancel_process_order();
    ProcessOrders.import_force_record();
    ProcessOrders.export_kanbans();
    ProcessOrders.show_part_nr_msg();
</script>