@using MvcPaging;

@model IPagedList<CuttingMrpLib.StockMovement>
@{
    ViewBag.Title = "StockMovements";
}

<div class="panel panel-default navbar-fixed-top" style="box-shadow: -2px 2px 4px #34313a;top:60px;">
    <div class="panel-body">
        <div class="col-md-12" style="text-align:center;">
            <form action="/StockMovements/Search" method="get">
                <div class="col-md-10" style="text-align:center;">
                    <div class="col-sm-10 filter-content">
                        <span class="pull-right" id="basic-addon-filter"> <i class="glyphicon glyphicon-filter"></i> </span>
                        <div class="filter-p"></div>
                    </div>

                    <div class="col-md-2" style="margin-top:10px;">
                        <button class="btn btn-primary" type="submit">Search All</button>
                    </div>
                </div>
            </form>

            <div class="col-md-2">
                @Html.ActionLink("Export", "Export", new
           {
               PartNr = ViewBag.Query.PartNr,
               DateFrom = ViewBag.Query.DateFrom,
               DateTo = ViewBag.Query.DateTo
           }, new { @style = "width:100px;margin-top:10px;", @class = "btn btn-success", @title = "export searched results", data_toggle = "tooltip", data_placement = "bottom" })
            </div>
        </div>
    </div>
</div>

<table class="table table-bordered" style="margin-top:110px;">
    <thead>
        <tr>
            <th> No. </th>
            <th>PartNr</th>
            <th>Quantity</th>
            <th>FIFO</th>
            <th>MoveTypeDisplay</th>
            <th>SourceDoc</th>
            <th>CreatedAtDisplay</th>
            @*<th>Options</th>*@
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
            {
                int i = 0;
                foreach (var item in Model)
                {
                <tr>
                    <td>@(i += 1)</td>
                    <td>@Html.DisplayFor(modelItem => item.partNr)</td>
                    <td>@Html.DisplayFor(modelItem => item.quantity)</td>
                    <td>@Html.DisplayFor(modelItem => item.fifoDisplay)</td>
                    <td>@Html.DisplayFor(modelItem => item.typeDisplay)</td>
                    <td>@Html.DisplayFor(modelItem => item.sourceDoc)</td>
                    <td>@Html.DisplayFor(modelItem => item.createdAtDisplay)</td>
                    @*<td class="IconA">
                            <a href="@Url.Action("Edit", "StockMovements" , new { id=item.id }) "> <i class="glyphicon glyphicon-pencil"></i></a>
                            <a href="@Url.Action("Delete", "StockMovements" , new { id=item.id })"> <i class="glyphicon glyphicon-trash" style="color:#ff0000;"></i></a>
                        </td>*@
                </tr>
            }
        }
    </tbody>
</table>

<div class="col-sm-12" style="text-align:center;">
    <div class="clearfix pagination">
        <div class="pagination-inner">
            @if (Model != null)
            {
                if (ViewBag.Query != null)
                {
                    var html = Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
                        .Options(o => o.AddRouteValue("PartNr", ViewBag.Query.PartNr))
                        .Options(o => o.AddRouteValue("MoveType", ViewBag.Query.MoveType))
                        .Options(o => o.AddRouteValue("DateFrom", ViewBag.Query.DateFrom))
                        .Options(o => o.AddRouteValue("DateTo", ViewBag.Query.DateTo));
                    @html
                }
                else
                {
                    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
                }
            }
        </div>
    </div>
</div>

<div style="display:none;">
    <div id="extra-filter-content">
        <div class="col-sm-12">
            <div class="input-group filter-detail">
                <span class="input-group-addon" id="basic-addon-partnr" style="background:#0088cc;color:white;">PartNr</span>
                <input type="text" class="form-control" name="PartNr" id="PartNr" value="@ViewBag.Query.PartNr" placeholder="PartNr" aria-describedby="basic-addon-partnr">
            </div>
        </div>

        <hr style="border:1px solid #eeeeee; margin:10px -10px;" />

        <div class="col-sm-12">
            <div class="input-group filter-detail">
                <span class="input-group-addon" id="basic-addon-stat" style="width:80px;">MoveType</span>
                @Html.DropDownList("MoveType", ViewData["moveTypeList"] as IEnumerable<SelectListItem>, new { @class = "from-control" , @style="width:160px;" })
            </div>
        </div>

        <hr />

        <div class="col-sm-12">
            <div class="input-group filter-detail">
                <span class="input-group-addon" id="basic-addon-date">CreatedAt</span>
                <input type="text" class="form-control datetime-picker" autocomplete="off" name="DateFrom" id="DateFrom" value="@ViewBag.Query.DateFrom" placeholder="CreatedAt From" aria-describedby="basic-addon-date">
                <span class="space-mark">~</span>
                <input type="text" class="form-control datetime-picker" autocomplete="off" name="DateTo" id="DateTo" value="@ViewBag.Query.DateTo" placeholder="CreatedAt To" />
            </div>
        </div>

        <div class="popModal_footer">
            <input type="submit" value="Search" class="btn btn-success FilterSearchBtn" data-dialogModalBut="ok" />
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/stock-movements")

<script>
    StockMovements.init();
    StockMovements.click_filter();
</script>
