@{
    ViewBag.Title = "ImportPartRecord";
}

<div class="alert alert-danger" role="alert">
    <h4>FileError: @ViewBag.NotCsv</h4>
    <h4>CheckData: @ViewBag.NotCheckedData</h4>
</div>


@try
{
    <ul>
        @foreach (var qty in ViewData["Qty"] as Dictionary<string, int>)
        {
            <li>@qty.Key: @qty.Value</li>
        }
    </ul>

}
catch (Exception e)
{
    <h4>Qty Error.</h4>
}

<hr />

<h4>Create Error Msg</h4>
@try
{
    <ul>
        @foreach (var createError in ViewData["createErrorDic"] as Dictionary<string, string>)
        {
            <li>@createError.Key:  @createError.Value</li>
        }
    </ul>
}
catch (Exception)
{
    <h4>@ViewBag.CreateExpMsg</h4>
}

<hr />

<h4>Update Error Msg</h4>

@try
{
    <ul>
        @foreach (var updateError in ViewData["updateErrorDic"] as Dictionary<string, string>)
        {
            <li>@updateError.Key: @updateError.Value</li>
        }
    </ul>

}
catch (Exception)
{
    <h4>@ViewBag.UpdateExpMsg</h4>
}

@Scripts.Render("~/bundles/part")
