@{
    ViewBag.Title = "Dashboard";
}

@Styles.Render("~/Content/dashboards")
@Styles.Render("~/Content/part_stock")

<div class="LeftNav">
    @Html.Partial("_DashboardPartial")
</div>

<div class="RightContent">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-12" style="text-align:center;">
                <div class="col-md-6" style="display:flex;display:-ms-flexbox;">
                    <input type="text" class="form-control date-picker date-from" />
                    <span>&emsp; ~ &emsp;</span>
                    <input type="text" class="form-control date-picker date-to" />
                </div>
                <div class="col-md-4">
                    <input type="text" value="" class="form-control part-nr" id="part_nr" placeholder="Part Nr" />
                    <input type="hidden" value="100" class="part-type" />
                </div>

                <div class="col-md-2">
                    <button class="btn btn-success part-stock-search">
                        Search
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="part_stock_charts" class="charts"></div>

    <div class="Details">
    </div>
    <div class="Movements">
    </div>
</div>

@Scripts.Render("~/bundles/dashboard")
@Scripts.Render("~/bundles/part_stock")
<script type="text/javascript">
    PartStock.Init();
    PartStock.InitPartNr();
    PartStock.PartStockSearch();
</script>




