
@{
    ViewBag.Title = "Rate";
}

@Styles.Render("~/Content/dashboards")
@Styles.Render("~/Content/complete_rate")

<div class="LeftNav">
    @Html.Partial("_DashboardPartial")
</div>

<div class="RightContent">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6" style="display:flex;display:-ms-flexbox;border-right:1px solid #eeeeee;">
                    <div class="col-md-5">
                        <input type="text" value="" class="form-control date-picker date-from" />
                    </div>
                    <div class="col-md-2">
                        <b> ~ </b>
                    </div>
                    <div class="col-md-5">
                        <input type="text" value="" class="form-control date-picker date-to" />
                    </div>
                </div>
                <div class="col-md-4" style="border-right:1px solid #eeeeee;">
                    <input type="text" value="" class="form-control part-nr" id="part_nr" />
                    <input type="hidden" value="200" class="part-type" />
                </div>

                <div class="col-md-2">
                    <button class="btn btn-primary complete-rate-search">Search</button>
                </div>
            </div>
        </div>
    </div>

    <div id="complete_rate_charts" class="charts"  style="min-width:700px;height:400px"></div>

    <div class="Details">

    </div>
    <div class="Movements">

    </div>

</div>

@Scripts.Render("~/bundles/dashboard")
@Scripts.Render("~/bundles/complete_rate")

<script type="text/javascript">
    CompleteRate.Init();
    CompleteRate.InitPartNr();
    CompleteRate.CompleteRateSearch();
</script>




