@{
    ViewBag.Title = "TopRate";
}

@Styles.Render("~/Content/dashboards")
@Styles.Render("~/Content/top_rate")

<div class="LeftNav">
    @Html.Partial("_DashboardPartial")
</div>

<div class="RightContent" style="top:50px;left:210px;border-radius: 5px;overflow: hidden; bottom: 10px;right: 10px;">
    <div id="top-rate-charts" class="charts"></div>
</div>

@Scripts.Render("~/bundles/dashboard")
@Scripts.Render("~/bundles/top_rate")
<script type="text/javascript">
    TopRate.Init();
</script>




