
@model CuttingMrpLib.Stock

@{
    ViewBag.Title = "Delete";
}
<div>
    <ol class="breadcrumb" style="padding:20px 15px;font-size:1.5em;">
        <li>
            @Html.ActionLink("Stock", "Index")
        </li>
        <li>
            <label style="color:#ff0000;">
                Delete
            </label>         
            <label class="label label-danger">
                @Html.DisplayFor(model => model.partNr)
            </label>
        </li>
    </ol>
    <hr />

    <div class="panel panel-danger">
        <div class="panel-heading">
            <div class="col-md-12" style="height:35px;">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-actions no-color">
                        <div class="col-md-10">
                            <h4>
                                Are you sure you want to delete
                                <label class="label label-danger">
                                    @Html.DisplayFor(model => model.partNr)
                                </label>
                                ?
                            </h4>
                        </div>


                        <div class="col-md-2">
                            <input type="submit" value="Delete" class="btn btn-danger" style="width:150px;" />
                        </div>
                    </div>
                }

            </div>
        </div>
        <div class="panel-body">
            <div class="col-md-12">
                <div class="col-md-4">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.partNr)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.partNr)
                        </dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.quantity)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.quantity)
                        </dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.fifo)
                        </dt>

                        <dd style="white-space:nowrap;">
                            @Html.DisplayFor(model => model.fifo)
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.quantity)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.quantity)
                        </dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.container)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.container)
                        </dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.wh)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.wh)
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.position)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.position)
                        </dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.source)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.source)
                        </dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.sourceType)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.sourceType)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
