
@model CuttingMrpLib.Stock

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <ol class="breadcrumb" style="padding:20px 15px;font-size:1.5em;">
        <li>
            @Html.ActionLink("Stock", "Index")
        </li>
        <li>
            Edit
            <label class="label label-primary">
                @Html.DisplayFor(model => model.partNr)
            </label>
        </li>
    </ol>

    <hr />
    <div class="form-horizontal" style="box-shadow:2px 3px 4px #eeeeee;border-radius:40px;">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)
        <div class="panel panel-default">
            <div class="panel-heading col-md-12" style="height:50px;">
                <div class="col-md-10" style="font-size:2em;">
                    <label>
                        @Html.DisplayFor(model => model.partNr, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.HiddenFor(model => model.partNr)
                    </label>
                </div>
                <div class="col-md-2">
                    <input type="submit" value="Save" class="btn btn-primary" style="width:150px;" />
                </div>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.fifo, "FIFO", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.fifo, new { htmlAttributes = new { @class = "form-control datetime-picker" } })
                                @Html.ValidationMessageFor(model => model.fifo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.quantity, "Quantity", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.quantity, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.quantity, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.container, "Container", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.container, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.container, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.wh, "Wh", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.wh, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.wh, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    @*<div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.position, "Position", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.position, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.position, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>*@
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.source, "Source",htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.source, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.source, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.sourceType, "SourceType", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.sourceType, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.sourceType, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

@Scripts.Render("~/bundles/stocks")

<script type="text/javascript">
    Stock.init();
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
