@using MvcPaging;

@model IPagedList<CuttingMrpLib.Stock>

@{
    ViewBag.Title = "Stocks";
}

@Styles.Render("~/Content/stock")

<form action="/Stocks/Search" method="get" class="FilterSerachDiv">
    <div class="panel panel-default navbar-fixed-top" style="box-shadow: -2px 2px 4px #34313a;top:60px;">
        <div class="panel-body">
            <div class="col-sm-12" style="text-align:center;">
                <div class="col-sm-10 filter-content">
                    <span class="pull-right" id="basic-addon-filter"> <i class="glyphicon glyphicon-filter"></i> </span>
                    <div class="filter-p"></div>
                </div>

                <div class="col-sm-2" style="padding-top:10px;">
                    <button class="btn btn-primary" type="submit">Search All</button>
                </div>
            </div>
        </div>
    </div>
</form>

<table class="table table-bordered" style="margin-top:110px;">
    <thead>
        <tr>
            <th> No. </th>
            <th>PartNr</th>
            <th>FIFO</th>
            <th>Quantity</th>
            <th>Container</th>
            <th>WH</th>
            <th>Position</th>
            <th>Source</th>
            <th>SourceType</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            int i = 0;
            foreach (var item in Model)
            {
                <tr>
                    <td>@(i += 1)</td>
                    <td>@Html.DisplayFor(modelItem => item.partNr)</td>
                    <td>@Html.DisplayFor(modelItem => item.fifo)</td>
                    <td>@Html.DisplayFor(modelItem => item.quantity)</td>
                    <td>@Html.DisplayFor(modelItem => item.container)</td>
                    <td>@Html.DisplayFor(modelItem => item.wh)</td>
                    <td>@Html.DisplayFor(modelItem => item.position)</td>
                    <td>@Html.DisplayFor(modelItem => item.source)</td>
                    <td>@Html.DisplayFor(modelItem => item.sourceType)</td>
                    <td class="IconA">
                        <a href="@Url.Action("Edit", "Stocks" , new { id=item.id }) "> <i class="glyphicon glyphicon-pencil"></i></a>
                        @*@Html.ActionLink("Details", "Details", new { id = item.id }) |*@
                        <a href="@Url.Action("Delete", "Stocks" , new { id=item.id })"> <i class="glyphicon glyphicon-trash" style="color:#ff0000;"></i></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<div class="col-sm-12" style="text-align:center;">
    <div class="clearfix pagination">
        <div class="pagination-inner">
            @if (Model != null)
        {
            if (ViewBag.Query != null)
            {

                var html = Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
                    .Options(o => o.AddRouteValue("PartNr", ViewBag.Query.PartNr))
                    .Options(o => o.AddRouteValue("FIFOFrom", ViewBag.Query.FIFOFrom))
                    .Options(o => o.AddRouteValue("FIFOTo", ViewBag.Query.FIFOTo))
                    .Options(o => o.AddRouteValue("QuantityFrom", ViewBag.Query.QuantityFrom))
                    .Options(o => o.AddRouteValue("QuantityTo", ViewBag.Query.QuantityTo))
                    .Options(o => o.AddRouteValue("Wh", ViewBag.Query.Wh))
                    .Options(o => o.AddRouteValue("Position", ViewBag.Query.Position));
                    @html
                }
                else
                {
                    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
                }
            }
        </div>
    </div>
</div>

<div style="display:none;">
    <div id="extra-filter-content">
        <div class="col-sm-12">
            <div class="input-group filter-detail">
                <span class="input-group-addon" id="basic-addon-partnr" style="background:#0088cc;color:white;">PartNr</span>
                <input type="text" class="form-control" name="PartNr" id="PartNr" value="@ViewBag.Query.PartNr" placeholder="PartNr" aria-describedby="basic-addon-partnr">
            </div>
        </div>
        <hr style="border:1px solid #eeeeee; margin:10px -20px;" />
        <div class="col-sm-12">
            <div class="input-group filter-detail">
                <span class="input-group-addon" id="basic-addon-fifo">FIFO </span>
                <input type="text" class="form-control datetime-picker" autocomplete="off" name="FIFOFrom" id="FIFOFrom" value="@ViewBag.Query.FIFOFrom" placeholder="FIFO From" aria-describedby="basic-addon-fifo">
                <span class="space-mark">~</span>
                <input type="text" class="form-control datetime-picker" autocomplete="off" name="FIFOTo" id="FIFOTo" value="@ViewBag.Query.FIFOTo" placeholder="FIFO To" />
            </div>
        </div>
        <hr style="margin:10px;" />
        <div class="col-sm-12">
            <div class="input-group filter-detail">
                <span class="input-group-addon" id="basic-addon-quantity">Quantity</span>
                <input type="number" class="form-control" name="QuantityFrom" id="QuantityFrom" value="@ViewBag.Query.QuantityFrom" placeholder="Quantity From" aria-describedby="basic-addon-quantity">
                <span class="space-mark">~</span>
                <input type="number" class="form-control" name="QuantityTo" id="QuantityTo" value="@ViewBag.Query.QuantityTo" placeholder="Quantity To" />
            </div>
        </div>
        <hr style="margin:10px;" />
        <div class="col-sm-12">
            <div class="col-sm-5" style="margin-left:-15px;">
                <div class="input-group filter-detail">
                    <span class="input-group-addon" id="basic-addon-wh">Wh</span>
                    <input type="text" class="form-control" name="Wh" id="Wh" value="@ViewBag.Query.Wh" placeholder="Wh" aria-describedby="basic-addon-wh">
                </div>
            </div>
            <div class="col-sm-6" style="text-align:left;margin-left: 30px;">
                <div class="input-group filter-detail">
                    <span class="input-group-addon" id="basic-addon-position">Position</span>
                    <input style="width:165px;" type="text" class="form-control" name="Position" id="Position" value="@ViewBag.Query.Position" placeholder="Position" aria-describedby="basic-addon-position">
                </div>
            </div>
        </div>
        <div class="popModal_footer">
            <input type="submit" value="查询" class="btn btn-success FilterSearchBtn" data-dialogModalBut="ok" />
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/stocks")

<script type="text/javascript">
    Stock.init();
    Stock.click_filter();
</script>

