@using MvcPaging;

@model IPagedList<CuttingMrpLib.MP>
@{
    ViewBag.Title = "Index";
}

<div class="panel panel-default navbar-fixed-top" style="box-shadow: -2px 2px 4px #34313a;top:60px;">
    <div class="panel-body">
        <div class="col-md-12" style="text-align:center;">
            <form action="/Mps/Search" method="get">
                <div class="col-md-12" style="text-align:center;">
                    <div class="col-sm-6 filter-content">
                        <span class="pull-right" id="basic-addon-filter"> <i class="glyphicon glyphicon-filter"></i> </span>
                        <div class="filter-p"></div>
                    </div>

                    <div class="col-md-2" style="margin-top:10px;">
                        <a href="/Mps/Create" class="btn btn-success" style="width:150px;" type="button">Create</a>
                    </div>

                    <div class="col-md-2" style="margin-top:10px;">
                        <button class="btn btn-primary import-mps-data" style="width:150px;" type="button">Import</button>
                    </div>

                    <div class="col-md-2" style="margin-top:10px;">
                        @Html.ActionLink("Export", "Export", new
                   {
                       PartNr = ViewBag.Query.PartNr,
                       PartNrAct = ViewBag.Query.PartNrAct,
                       OrderedDateFrom = ViewBag.Query.OrderedDateFrom,
                       OrderedDateTo = ViewBag.Query.OrderedDateTo,
                       RequiredDateFrom = ViewBag.Query.RequiredDateFrom,
                       RequiredDateTo = ViewBag.Query.RequiredDateTo,
                       Status = ViewBag.Query.Status,
                   }, new { @style = "width:150px;", @class = "btn btn-success", @title = "export searched results", data_toggle = "tooltip", data_placement = "bottom" })
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<table class="table table-bordered" style="margin-top:110px;">
    <thead>
        <tr>
            <th> No. </th>
            <th>PartNr</th>
            <th>OrderedDate</th>
            <th>RequiredDate</th>
            <th>Quantity</th>
            <th>Source</th>
            <th>SourceDoc</th>
            <th>Status</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
            {
                int i = 0;
                foreach (var item in Model)
                {
                <tr>
                    <td>@(i += 1)</td>
                    <td>@Html.DisplayFor(modelItem => item.partnr)</td>
                    <td>@Html.DisplayFor(modelItem => item.orderedDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.requiredDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.quantity)</td>
                    <td>@Html.DisplayFor(modelItem => item.source)</td>
                    <td>@Html.DisplayFor(modelItem => item.sourceDoc)</td>
                    <td>@Html.DisplayFor(modelItem => item.statusDisplay)</td>
                    <td class="IconA">
                            <a href="@Url.Action("Edit", "Mps" , new { id=item.id }) "> <i class="glyphicon glyphicon-pencil"></i></a>
                            <a href="@Url.Action("Delete", "Mps" , new { id=item.id })"> <i class="glyphicon glyphicon-trash" style="color:#ff0000;"></i></a>
                        </td>
                </tr>
            }
        }
    </tbody>
</table>

<div class="col-sm-12" style="text-align:center;">
    <div class="clearfix pagination">
        <div class="pagination-inner">
            @if (Model != null)
            {
                if (ViewBag.Query != null)
                {
                    var html = Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
                        .Options(o => o.AddRouteValue("PartNr", ViewBag.Query.PartNr))
                        .Options(o => o.AddRouteValue("PartNrAct", ViewBag.Query.PartNrAct))
                        .Options(o => o.AddRouteValue("OrderedDateFrom", ViewBag.Query.OrderedDateFrom))
                        .Options(o => o.AddRouteValue("OrderedDateTo", ViewBag.Query.OrderedDateTo))
                        .Options(o => o.AddRouteValue("RequiredDateFrom", ViewBag.Query.RequiredDateFrom))
                        .Options(o => o.AddRouteValue("RequiredDateTo", ViewBag.Query.RequiredDateTo))
                        .Options(o => o.AddRouteValue("Status", ViewBag.Query.Status));
                    @html
                }
                else
                {
                    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
                }
            }
        </div>
    </div>
</div>

<div style="display:none;">
    <div id="extra-filter-content">
        <div class="col-sm-12">
            <div class="input-group filter-detail">
                <span class="input-group-addon" id="basic-addon-partnr" style="background:#0088cc;color:white;">PartNr</span>
                <input type="text" class="form-control" name="PartNr" id="PartNr" value="@ViewBag.Query.PartNr" placeholder="PartNr" aria-describedby="basic-addon-partnr">
            </div>
        </div>

        <hr style="border:1px solid #eeeeee; margin:10px -10px;" />

        <div class="col-sm-12">
            <div class="input-group filter-detail">
                <span class="input-group-addon" id="basic-addon-partnract">PartNrAct</span>
                <input type="text" class="form-control" name="PartNrAct" id="PartNrAct" value="@ViewBag.Query.PartNrAct" placeholder="PartNrAct" aria-describedby="basic-addon-partnract">

                <span class="input-group-addon" id="basic-addon-stat" style="width:80px;">Status</span>
                @Html.DropDownList("Status", ViewData["statusList"] as IEnumerable<SelectListItem>, new { @class = "form-control", @style = "width:160px;" })
            </div>
        </div>

        <hr style="margin:10px;"/>

        <div class="col-sm-12">
            <div class="input-group filter-detail">
                <span class="input-group-addon" id="basic-addon-ordered-date">OrderedDate</span>
                <input type="text" class="form-control datetime-picker-from" autocomplete="off" name="OrderedDateFrom" id="OrderedDateFrom" value="@ViewBag.Query.OrderedDateFrom" placeholder="OrderedDate From" aria-describedby="basic-addon-ordered-date">
                <span class="space-mark">~</span>
                <input type="text" class="form-control datetime-picker-to" autocomplete="off" name="OrderedDateTo" id="OrderedDateTo" value="@ViewBag.Query.OrderedDateTo" placeholder="OrderedDate To" />
            </div>
        </div>

        <hr style="margin:10px;" />

        <div class="col-sm-12">
            <div class="input-group filter-detail">
                <span class="input-group-addon" id="basic-addon-required-date">RequiredDate</span>
                <input type="text" class="form-control datetime-picker-from" autocomplete="off" name="RequiredDateFrom" id="RequiredDateFrom" value="@ViewBag.Query.RequiredDateFrom" placeholder="RequiredDate From" aria-describedby="basic-addon-required-date">
                <span class="space-mark">~</span>
                <input type="text" class="form-control datetime-picker-to" autocomplete="off" name="RequiredDateTo" id="RequiredDateTo" value="@ViewBag.Query.RequiredDateTo" placeholder="RequiredDate To" />
            </div>
        </div>

        <div class="popModal_footer">
            <input type="submit" value="Search" class="btn btn-success FilterSearchBtn" data-dialogModalBut="ok" />
        </div>
    </div>
</div>

<div id="dialog_content" class="import_content" style="display:none;">
    @using (Html.BeginForm("ImportMpsRecord", "Mps", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="dialogModal_header" style="background:steelblue;color:white;">
            Import Mps Data
        </div>
        <div class="dialogModal_content">
            <strong>Select Mps File:</strong>
            <hr />
            <input type="file" value="file" name="mpsFile" />
        </div>
        <div class="dialogModal_footer">
            <button type="submit" class="btn btn-primary" style="width:200px;" data-dialogModalBut="ok">OK</button>
        </div>
    }
</div>

@Scripts.Render("~/bundles/mps")

<script type="text/javascript">
    MPS.init();
    MPS.click_filter();
    MPS.import_mps_data();
</script>
