@using MvcPaging;

@model IPagedList<CuttingMrpLib.Requirement>
@{
    ViewBag.Title = "Requirements";
}

@Styles.Render("~/Content/requirement")

<form action="/Requirements/Search" method="get">
    <div class="panel panel-default navbar-fixed-top" style="box-shadow: -2px 2px 4px #34313a;top:60px;">
        <div class="panel-body">
            <div class="col-sm-12" style="text-align:center;">
 
                @*<div class="col-sm-2">
                        <select class="form-control">
                            <option>小时</option>
                            <option>天</option>
                            <option>周</option>
                            <option>月</option>
                        </select>
                    </div>*@

                <div class="col-sm-9 filter-content">
                    <span class="pull-right" id="basic-addon-filter"> <i class="glyphicon glyphicon-filter"></i> </span>
                    <div class="filter-p"></div>
                </div>

                <div class="col-sm-1" style="text-align:left;">
                    <button class="btn btn-primary" type="submit">Search All</button>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-success runMrp" type="button">Run MRP</button>
                </div>
            </div>
        </div>
    </div>
</form>

<table class="table table-bordered" style="margin-top:100px;">
    <thead>
        <tr>
            <th> No. </th>
            <th>PartNr</th>
            <th>OrderedDate</th>
            <th>RequiredDate</th>
            <th>Quantity</th>
            <th>Status</th>
            <th>DerivedFrom</th>
            <th>DerivedType</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            int i = 0;
            foreach (var item in Model)
            {
                <tr>
                    <td>@(i += 1)</td>
                    <td>@Html.DisplayFor(modelItem => item.partNr)</td>
                    <td>@Html.DisplayFor(modelItem => item.orderedDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.requiredDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.quantity)</td>
                    <td>@Html.DisplayFor(modelItem => item.statusDisplay)</td>
                    <td>@Html.DisplayFor(modelItem => item.derivedFrom)</td>
                    <td>@Html.DisplayFor(modelItem => item.derivedType)</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                        @*@Html.ActionLink("Details", "Details", new { id = item.id }) |*@
                        @Html.ActionLink("Delete", "Delete", new { id = item.id })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<div class="col-sm-12" style="text-align:center;">
    <div class="clearfix pagination">
        <div class="pagination-inner">
            @if (Model != null)
            {
                if (ViewBag.Query != null)
                {
                    var html = Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
                        .Options(o => o.AddRouteValue("PartNr", ViewBag.Query.PartNr))
                        .Options(o => o.AddRouteValue("OrderedDateFrom", ViewBag.Query.PartNr))
                        .Options(o => o.AddRouteValue("OrderedDateTo", ViewBag.Query.PartNr))
                        .Options(o => o.AddRouteValue("RequiredTimeFrom", ViewBag.Query.PartNr))
                        .Options(o => o.AddRouteValue("RequiredTimeTo", ViewBag.Query.PartNr))
                        .Options(o => o.AddRouteValue("QuantityFrom", ViewBag.Query.PartNr))
                        .Options(o => o.AddRouteValue("QuantityTo", ViewBag.Query.PartNr))
                        .Options(o => o.AddRouteValue("Status", ViewBag.Query.PartNr))
                        .Options(o => o.AddRouteValue("DerivedFrom", ViewBag.Query.PartNr))
                        .Options(o => o.AddRouteValue("DerivedType", ViewBag.Query.PartNr));
                    @html
                }
                else
                {
                    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
                }
            }
        </div>
    </div>
</div>

<div style="display:none;">
    <div id="extra-filter-content">
        <div class="col-sm-12">
            <div class="input-group filter-detail">
                <span class="input-group-addon" id="basic-addon-partnr" style="background:#0088cc;color:white;">PartNr</span>
                <input type="text" class="form-control" name="PartNr" id="PartNr" value="@ViewBag.Query.PartNr" placeholder="PartNr" aria-describedby="basic-addon-partnr">
            </div>
        </div>
        <hr style="border:1px solid #eeeeee; margin:10px -20px;" />
        <div class="col-sm-12">
            <div class="input-group filter-detail">
                <span class="input-group-addon" id="basic-addon-ordered-date">OrderedDate</span>
                <input type="text" class="form-control datetime-picker" autocomplete="off" name="OrderedDateFrom" id="OrderedDateFrom" value="@ViewBag.Query.OrderedDateFrom" placeholder="OrderedDate From" aria-describedby="basic-addon-ordered-date">
                <span class="space-mark">~</span>
                <input type="text" class="form-control datetime-picker" autocomplete="off" name="OrderedDateTo" id="OrderedDateTo" value="@ViewBag.Query.OrderedDateTo" placeholder="OrderedDate To" />
            </div>
        </div>

        <hr style="margin:10px;" />

        <div class="col-sm-12">
            <div class="input-group filter-detail">
                <span class="input-group-addon" id="basic-addon-requied-time">RequiredTime</span>
                <input type="text" class="form-control datetime-picker" autocomplete="off" name="RequiredTimeFrom" id="RequiredTimeFrom" value="@ViewBag.Query.RequiredTimeFrom" placeholder="RequiredTime From" aria-describedby="basic-addon-requied-time">
                <span class="space-mark">~</span>
                <input type="text" class="form-control datetime-picker" autocomplete="off" name="RequiredTimeTo" id="RequiredTimeTo" value="@ViewBag.Query.RequiredTimeTo" placeholder="RequiredTime To" />
            </div>
        </div>
        <hr style="margin:10px;" />

        <div class="col-sm-12">
            <div class="input-group filter-detail">
                <span class="input-group-addon" id="basic-addon-quantity">Quantity</span>
                <input type="number" class="form-control" step="5" name="QuantityFrom" id="QuantityFrom" value="@ViewBag.Query.QuantityFrom" placeholder="Quantity From" aria-describedby="basic-addon-quantity">
                <span class="space-mark">~</span>
                <input type="number" class="form-control" step="5" name="QuantityTo" id="QuantityTo" value="@ViewBag.Query.QuantityTo" placeholder="Quantity To" />
            </div>
        </div>

        <hr style="margin:10px;" />

        <div class="col-sm-12">
            <div class="col-sm-6" style="margin-left:-15px;">
                <div class="input-group filter-detail">
                    <span class="input-group-addon" id="basic-addon-stat" style="width:80px;">Status</span>
                    @Html.DropDownList("Status", ViewData["statusList"] as IEnumerable<SelectListItem>)
                </div>
            </div>
            <div class="col-sm-6" style="margin-left:10px;">
                <div class="input-group filter-detail">
                    <span class="input-group-addon" id="basic-addon-derivedfrom">DerivedFrom</span>
                    <input type="text" class="form-control" style="width:145px;" name="DerivedFrom" id="DerivedFrom" value="@ViewBag.Query.DerivedFrom" placeholder="Derived From" aria-describedby="basic-addon-derivedfrom">
                </div>
            </div>
        </div>
        <div class="popModal_footer">
            <input type="submit" value="Search" class="btn btn-success FilterSearchBtn" data-dialogModalBut="ok" />
        </div>
    </div>
</div>

<div id="ProcessOrderMask" style="display:none;"></div>
<div id="ProcessOrder" style="display:none;">
    <h3>订单选项</h3>
    <i class="glyphicon glyphicon-remove pull-right remove-process-order"></i>
    <hr />
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="col-sm-12">
                <div class="col-sm-6">
                    <input type="radio" checked name="OrderTypes" value="FIX" />KANBAN 生成
                </div>
                <div class="col-sm-6">
                    <input type="radio" disabled name="OrderTypes" value="ACTUAL" />直接订单
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="col-sm-12">
                <div class="col-sm-3">
                    <input type="radio" checked name="MergeMethodType" value="DAY" />天
                </div>
                <div class="col-sm-3">
                    <input type="radio" disabled name="MergeMethodType" value="WEEK" />周
                </div>

                <div class="col-sm-3">
                    <input type="radio" disabled name="MergeMethodType" value="MONTH" />月
                </div>

                <div class="col-sm-3">
                    <input type="radio" disabled name="MergeMethodType" value="YEAR" />年
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div class="col-sm-12" style="text-align:right;">
        <button class="btn btn-warning confirm-process-order" >CONFIRM</button>
    </div>
</div>

<div id="ChooseTemp" style="display:none;">
    <hr />
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="col-sm-12">
                <div class="col-sm-6">
                    <input type="radio" checked name="OrderTypes" value="FIX" />KANBAN 生成
                </div>
                <div class="col-sm-6">
                    <input type="radio" disabled name="OrderTypes" value="ACTUAL" />直接订单
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="col-sm-12">
                <div class="col-sm-3">
                    <input type="radio" checked name="MergeMethodType" value="DAY" />天
                </div>
                <div class="col-sm-3">
                    <input type="radio" disabled name="MergeMethodType" value="WEEK" />周
                </div>

                <div class="col-sm-3">
                    <input type="radio" disabled name="MergeMethodType" value="MONTH" />月
                </div>

                <div class="col-sm-3">
                    <input type="radio" disabled name="MergeMethodType" value="YEAR" />年
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div class="col-sm-12" style="text-align:right;">
        <button class="btn btn-warning confirm-process-order">CONFIRM</button>
    </div>
</div>

@Scripts.Render("~/bundles/requirements")

<script type="text/javascript">
    Requirement.init();
    Requirement.run_mrp();
    Requirement.click_filter();
</script>
