@using MvcPaging;

@model IPagedList<CuttingMrpLib.Requirement>
@{
    ViewBag.Title = "Requirements";
}

@Styles.Render("~/Content/requirement")

<form action="/Requirements/Search" method="get">
    <div class="panel panel-default navbar-fixed-top" style="box-shadow: -2px 2px 4px #34313a;top:60px;z-index:888;">
        <div class="panel-body">
            <div class="col-sm-12" style="text-align:center;">
                <div class="col-sm-9 filter-content">
                    <span class="pull-right" id="basic-addon-filter"> <i class="glyphicon glyphicon-filter"></i> </span>
                    <div class="filter-p"></div>
                </div>

                <div class="col-sm-1" style="margin-top:10px;">
                    <button class="btn btn-primary" type="submit">Search All</button>
                </div>
                <div class="col-sm-1" style="margin-top:10px;">
                    <button class="btn btn-success runMrp" type="button">Run MRP</button>
                </div>

                <div class="col-sm-1" style="margin-top:10px;">
                    <a href="/Requirements/Statistics" class="btn btn-info">Go Statistics</a>
                </div>
            </div>
        </div>
    </div>
</form>

<table class="table table-bordered" style="margin-top:110px;">
    <thead>
        <tr>
            <th> No. </th>
            <th>PartNr</th>
            <th>OrderedDate</th>
            <th>RequiredDate</th>
            <th>Quantity</th>
            <th>Status</th>
            <th>DerivedFrom</th>
            <th>DerivedType</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            int i = 0;
            foreach (var item in Model)
            {
                <tr>
                    <td>@(i += 1)</td>
                    <td>@Html.DisplayFor(modelItem => item.partNr)</td>
                    <td>@Html.DisplayFor(modelItem => item.orderedDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.requiredDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.quantity)</td>
                    <td>@Html.DisplayFor(modelItem => item.statusDisplay)</td>
                    <td>@Html.DisplayFor(modelItem => item.derivedFrom)</td>
                    <td>@Html.DisplayFor(modelItem => item.derivedType)</td>
                    <td class="IconA">
                        <a href="@Url.Action("Edit", "Requirements" , new { id=item.id }) "> <i class="glyphicon glyphicon-pencil"></i></a>
                        @*@Html.ActionLink("Details", "Details", new { id = item.id })*@
                        <a href="@Url.Action("Delete", "Requirements" , new { id=item.id })"> <i class="glyphicon glyphicon-trash" style="color:#ff0000;"></i></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<div class="col-sm-12" style="text-align:center;">
    <div class="clearfix pagination">
        <div class="pagination-inner">
            @if (Model != null)
            {
                if (ViewBag.Query != null)
                {
                    var html = Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
                        .Options(o => o.AddRouteValue("PartNr", ViewBag.Query.PartNr))
                        .Options(o => o.AddRouteValue("OrderedDateFrom", ViewBag.Query.OrderedDateFrom))
                        .Options(o => o.AddRouteValue("OrderedDateTo", ViewBag.Query.OrderedDateTo))
                        .Options(o => o.AddRouteValue("RequiredTimeFrom", ViewBag.Query.RequiredTimeFrom))
                        .Options(o => o.AddRouteValue("RequiredTimeTo", ViewBag.Query.RequiredTimeTo))
                        .Options(o => o.AddRouteValue("QuantityFrom", ViewBag.Query.QuantityFrom))
                        .Options(o => o.AddRouteValue("QuantityTo", ViewBag.Query.QuantityTo))
                        .Options(o => o.AddRouteValue("Status", ViewBag.Query.Status))
                        .Options(o => o.AddRouteValue("DerivedFrom", ViewBag.Query.DerivedFrom))
                        .Options(o => o.AddRouteValue("DerivedType", ViewBag.Query.DerivedType));
                    @html
                }
                else
                {
                    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
                }
            }
        </div>
    </div>
</div>

<div style="display:none;">
    <div id="extra-filter-content">
        <div class="col-sm-12">
            <div class="input-group filter-detail">
                <span class="input-group-addon" id="basic-addon-partnr" style="background:#0088cc;color:white;">PartNr</span>
                <input type="text" class="form-control" name="PartNr" id="PartNr" value="@ViewBag.Query.PartNr" placeholder="PartNr" aria-describedby="basic-addon-partnr">
            </div>
        </div>
        <hr style="border:1px solid #eeeeee; margin:10px -20px;" />
        <div class="col-sm-12">
            <div class="input-group filter-detail">
                <span class="input-group-addon" id="basic-addon-ordered-date">OrderedDate</span>
                <input type="text" class="form-control datetime-picker-from" autocomplete="off" name="OrderedDateFrom" id="OrderedDateFrom" value="@ViewBag.Query.OrderedDateFrom" placeholder="OrderedDate From" aria-describedby="basic-addon-ordered-date">
                <span class="space-mark">~</span>
                <input type="text" class="form-control datetime-picker-to" autocomplete="off" name="OrderedDateTo" id="OrderedDateTo" value="@ViewBag.Query.OrderedDateTo" placeholder="OrderedDate To" />
            </div>
        </div>

        <hr style="margin:10px;" />

        <div class="col-sm-12">
            <div class="input-group filter-detail">
                <span class="input-group-addon" id="basic-addon-requied-time">RequiredTime</span>
                <input type="text" class="form-control datetime-picker-from" autocomplete="off" name="RequiredTimeFrom" id="RequiredTimeFrom" value="@ViewBag.Query.RequiredTimeFrom" placeholder="RequiredTime From" aria-describedby="basic-addon-requied-time">
                <span class="space-mark">~</span>
                <input type="text" class="form-control datetime-picker-to" autocomplete="off" name="RequiredTimeTo" id="RequiredTimeTo" value="@ViewBag.Query.RequiredTimeTo" placeholder="RequiredTime To" />
            </div>
        </div>
        <hr style="margin:10px;" />

        <div class="col-sm-12">
            <div class="input-group filter-detail">
                <span class="input-group-addon" id="basic-addon-quantity">Quantity</span>
                <input type="number" class="form-control" name="QuantityFrom" id="QuantityFrom" value="@ViewBag.Query.QuantityFrom" placeholder="Quantity From" aria-describedby="basic-addon-quantity">
                <span class="space-mark">~</span>
                <input type="number" class="form-control" name="QuantityTo" id="QuantityTo" value="@ViewBag.Query.QuantityTo" placeholder="Quantity To" />
            </div>
        </div>

        <hr style="margin:10px;" />

        <div class="col-sm-12">
            <div class="col-sm-6" style="margin-left:-15px;">
                <div class="input-group filter-detail">
                    <span class="input-group-addon" id="basic-addon-stat" style="width:80px;">Status</span>
                    @Html.DropDownList("Status", ViewData["statusList"] as IEnumerable<SelectListItem>, new { @class="from-control", @style="width:200px;"})
                </div>
            </div>
            <div class="col-sm-6" style="margin-left:15px;">
                <div class="input-group filter-detail">
                    <span class="input-group-addon" id="basic-addon-derivedfrom">DerivedFrom</span>
                    <input type="text" class="form-control" style="width:140px;" name="DerivedFrom" id="DerivedFrom" value="@ViewBag.Query.DerivedFrom" placeholder="Derived From" aria-describedby="basic-addon-derivedfrom">
                </div>
            </div>
        </div>

        <div class="popModal_footer">
            <input type="submit" value="Search" class="btn btn-success FilterSearchBtn" data-dialogModalBut="ok" />
        </div>
    </div>
</div>

<div id="ProcessOrderMask" style="display:none;"></div>
<div id="ProcessOrder" style="display:none;">
    <h3>Order Options</h3>
    <i class="glyphicon glyphicon-remove pull-right remove-process-order"></i>
    <hr />
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="col-sm-12">
                <div class="col-sm-6">
                    <input type="radio" checked="checked" name="OrderTypes" value="FIX" /> Generate KANBAN
                </div>
                <div class="col-sm-6">
                    <input type="radio" disabled name="OrderTypes" value="ACTUAL" /> Direct Order
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6 input-group">
                    <span class="input-group-addon">FirstDay</span>
                    <input type="datetime" value="" name="FirstDay" id="FirstDay" class="form-control datetime-picker-from" />
                </div>
                <div class="col-md-6 input-group">
                    <span class="input-group-addon">Nearly</span>
                    <input type="number" value="2" name="Count" id="Count" class="form-control"/>
                    <span class="input-group-addon choosed-merge-method-type" style="width:80px;">DAY</span>
                </div>
            </div>

            <hr />

            <div class="row" style="text-align:center;">
                <div class="col-md-3">
                    <input type="radio" checked name="MergeMethodType" value="DAY" /> DAY
                </div>
                <div class="col-md-3">
                    <input type="radio" disabled name="MergeMethodType" value="WEEK" /> WEEK
                </div>

                <div class="col-md-3">
                    <input type="radio" disabled name="MergeMethodType" value="MONTH" /> MONTH
                </div>

                <div class="col-md-3">
                    <input type="radio" disabled name="MergeMethodType" value="YEAR" /> YEAR
                </div>
            </div>
        </div>
    </div>
    <hr />

    <div class="col-sm-12" style="text-align:right;">
        <button class="btn btn-warning confirm-process-order">CONFIRM</button>
    </div>
</div>

@Scripts.Render("~/bundles/requirements")

<script type="text/javascript">
    Requirement.init();
    Requirement.run_mrp();
    Requirement.click_filter();
</script>
